<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <img src="assets\Task.svg" />
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{text}}
    </ion-card-content>
  </ion-card>
</ion-content>